version: '3.3'
name: potadiapp-backend
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app # Bind mount for hot-reload
      - /app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - memcached
    networks:
      - potadi-net
    command: ["gunicorn", "--bind", "0.0.0.0:8000", "core.wsgi:application"]
  db:
    image: postgres:15
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - potadi-net
    command: ["postgres", "-c", "log_statement=all"]  # show logs
  memcached:
    image: memcached:alpine
    container_name: memcached
    restart: always
    ports:
      - "11211:11211"
    networks:
      - potadi-net
volumes:
  postgres_data:

networks:
  potadi-net:
    driver: bridge
    attachable: false